# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Solana keypairs and IDLs
**/id.json
**/keypair.json
**/target/deploy/*.json

 # --- App builds / caches
.cache/
build/
coverage/

# --- Env & secrets (never commit)
.env
.env.*
*.key
*.pem
*.p12
*.der
*.crt
*.cert
*.enc
*.secret
*.keystore
*.jwk
*.json.secret
treasury-keypair.json

# --- Solana / Anchor build artifacts
**/target/                   # ignore all target folders
!**/target/idl/*.json        # (optional) keep IDLs if you want them in repo
!**/target/types/*.ts        # (optional) keep generated TS types

# --- OS / misc
Thumbs.db
